/* lightgreen:#7ed56f
darkgreen:#28b485;
madiumgreen:#55c57a; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "lato" sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: black;
}
.header{
    height: 96vh;
    background-image:linear-gradient(to right bottom,
    rgba(126, 213, 111, 0.81),rgba(85, 197, 122, 0.806)),
    url(../img/hero.jpg);
    background-size: cover;
    background-position:top;
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
}
