/* lightgreen:#7ed56f
darkgreen:#28b485;
madiumgreen:#55c57a; */


@tailwind base;
@tailwind components;


@tailwind utilities;

/*bottom utilities */
@layer components {
    .btn{
@apply focus:outline-none
       focus:ring-2

        hover:bg-gray-300
        border
        px-3 py-2 rounded-full
        mt-1 text-sm

        font-semibold
        focus:ring-offset-2
        dark:hover:bg-white 
        dark:hover:bg-white 
        active:shadow-xl
        active:shadow-gray-400 
        transform duration-500
                                                            

    }
.btn-purple{
    @apply focus:ring-purple-400
         active:text-red-600
         
         hover:text-purple-950
         border-purple-200 
          
          
         text-purple-600
         dark:text-purple-400 
         

}
.btn-green{
     @apply 
         
         focus:ring-green-400
         active:text-red-600
         hover:text-green-950
         border-green-200 
         text-green-600
         dark:text-green-400 
         
         
          dark:hover:bg-white 
             active:shadow-xl
              active:shadow-gray-400 
              transform duration-500
}
}

@layer base {
    h1{
        @apply text-2xl
    }
}
@layer utilities {
    .text-body {
        font-size: 12px;
    }
}

/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "lato" sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: black;
}
.header{
    height: 96vh;
    background-image:linear-gradient(to right bottom,
    rgba(126, 213, 111, 0.81),rgba(85, 197, 122, 0.806)),
    url(css/hero.jpg);
    background-size: cover;
    background-position:top;
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
} */
